* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-sherif;
	background-color: black;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100hv;
	flex-direction: column;
}

header h1 {
	font-size: 2.5rem;
	color: white;
	margin-bottom: 20px;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
	text-align: center;
}

input [type="text"], input [type="password"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

button {
	width: 100%;
	padding: 12px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #45a049;
}

footer {
	margin-top: 20px;
	font-size: 0.9rem;
	color: #777;
}

footer p {
	text-align: center;
}